.cart {
    height: 500px;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart__Item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.cart__Item li {
    margin-left: 15px;
}


.cart__Item img {
    height: 100px;
    width: 100px;
}

.cart__Btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.cart__Btn button {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    background: rgb(151, 131, 238);
    background: linear-gradient(47deg, rgba(151, 131, 238, 1) 20%, rgba(105, 74, 238, 1) 58%);
    border-radius: 14px 0px 14px 0px;
    color: #fff;
    padding: 15px;
    margin-left: 10px;
    border-style: none;
}