.detailProduct
{
    display: flex;
    flex-direction: row;
    height: 570px;
    width: 100%;
    padding-top: 30px;
    background: rgb(194, 194, 194);
}

.detailProduct__Icon
{
    width: 40px;
    height: 40px;
    color: #fff;
    margin-left: 40px;
    padding-top: 60px;
}

.detailProduct__Icon:hover
{
    color: rgba(105,74,238,0.56);
}

.detailProduct__Img
{
    height: 570px;
    width: 65%;
    z-index: 999;
}

.detailProduct__Info
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
    padding: 35px;
    z-index: 999;
}