.counter__Container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px 10px 0px;
}

.counter__Res {
    height: 35px;
    width: 35px;
    margin: 0px 25px 0px 15px;
    background: #f42391;
    border-radius: 50px;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
}

.counter__Stock {
    color: #fff;
}

.counter__Sum {
    height: 35px;
    width: 35px;
    margin: 0px 15px 0px 25px;
    background: #5637dc;
    border-radius: 50px;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
}

.counter__Add {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 30px;
}