.detailProduct
{
    display: flex;
    flex-direction: row;
    height: 700px;
    width: 100%;
    padding-top: 80px;
    background: #000;
}

.detailProduct__Icon
{
    width: 40px;
    height: 40px;
    color: white;
    margin-left: 40px;
}

.detailProduct__Icon:hover
{
    box-shadow: 5px 6px 92px 27px rgba(105,74,238,0.56);
    -webkit-box-shadow: 5px 6px 92px 27px rgba(105,74,238,0.56);
    -moz-box-shadow: 5px 6px 92px 27px rgba(105,74,238,0.56);
}

.detailProduct__Img
{
    height: 570px;
    width: 65%;
    z-index: 999;
}

.detailProduct__Info
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
    padding: 35px;
    z-index: 999;
}