
.footer
{
    position: relative;
    bottom: 0;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    z-index: 999;
}

.footer__Nav
{
    display: flex;
    flex-direction: column;
    z-index: 9999;
    font-weight: bold;
}

.footer__RRSS
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}